<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smileman.toshiba.simplegolfz">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.smileman.toshiba.simplegolfz.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smileman.toshiba.simplegolfz.PlayingCourse"
            android:label="@string/title_activity_playing_course"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.smileman.toshiba.simplegolfz.ScoreEditor"
            android:label="@string/edit_score"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- <activity android:name=".ShowInfo" /> -->
        <activity
            android:name="com.smileman.toshiba.simplegolfz.ShowCourseInfo"
            android:label="@string/title_activity_show_course_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.smileman.toshiba.simplegolfz.ShowDetailData"
            android:label="@string/title_activity_show_detail_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.smileman.toshiba.simplegolfz.ResultPageZ"
            android:label="@string/title_activity_result_page_z"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>